//- <footer class="footer"></footer>
footer.footer 
    //- <div class="footer_icon">
    .footer_icon 
        //- <div><i class="fab fa-youtube"></i></div>
        i.fab.fa-youtube 
    span.footer_text #{siteName} #{new Date().getFullYear()} &copy;
