.social-login 
    button.social-login_github
        span
            i.fab.fa-github
        //- Raw `Continue` will treat as `concatnate` 
        //- Inorder to use `Continue` as string literal, `|` proceed first
        | Continue with Github
    button.social-login_facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook